/* Variables
   ========================================================================== */

:root {
    /* PRIMARY */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream-color: hsl(30, 38%, 92%);
    /* NEUTRAL */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);

    /* FONT FAMILY */
    --font-montserrat: "Montserrat", sans-serif;
    --font-fraunces: "Fraunces", sans-serif;
}

* {
  margin: 0;
}





/* BODY, IMG & MAIN
   ========================================================================== */

/**
 * 1. Centering the main part of our page vertically & horizontally
 */

body {
  display: flex; /* [1] */
  min-height: 100vh; /* [1] */
  flex-direction: column;
  justify-content: center; /* [1] */
  align-items: center; /* [1] */
  padding: 1rem;
  background-color: var(--cream-color);
  font-family: var(--font-montserrat);
}

main {
  background-color: white;
  max-width: 30rem;
  border-radius: 10px;
  overflow: hidden;
}

.article {}
 
  .article__h {
    margin: 1.5rem 0 0 1.2rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-family: var(--font-montserrat);
    color: var(--dark-grayish-blue);
    font-weight: 500;
  }

.fig {}

  .fig__img { width: 100%; }

.content { padding: 0 1.2rem; }

  .content__h {
    font-family: var(--font-fraunces);
    margin-top: 0.7rem;
    font-weight: 700;
    font-size: 2rem
  }

  .content__p {
    font-family: var(--font-montserrat);
    color: var(--dark-grayish-blue);
    font-weight: 500;
    font-size: 0.875rem;
    margin-top: 1rem;
    line-height: 1.4rem;
    width: 90%;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

    .price__one {
      font-size: 2rem;
      font-family: var(--font-fraunces);
      color: var(--dark-cyan);
    }

    .price__two {
      font-size: 0.8rem;
      color: var(--dark-grayish-blue);
      text-decoration: line-through;
      font-family: var(--font-montserrat);
      font-weight: 500;
    }

    .img {
      max-inline-size: 100%;
      block-size: auto;
      object-fit: cover;
      height: 100%;
    }



/* BCONTENT & ITS BUTTON
   ========================================================================== */

.button {
  background: var(--dark-cyan);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  padding: 0.7rem 0;
  border-radius: 10px;
  border: 0;
  color: white;
  margin: 1.2rem 0;
}

.button:hover,
.button:focus { opacity: 0.7; }

@media only screen and (min-width: 30.1rem) {
  .article {
    display: flex;
  }

  main { max-width: 35rem; }

  .fig { width: 50%; }

  .section { 
    width: 50%;
    margin: 0 0.5rem;
  }

  .content__h { width: 90%; }

  .content__p { width: 100%; }

  .price { margin-top: 1.5rem; }

  .button { margin-top: 1.5rem; }
}